@media (max-width:991px){

    html{
        font-size: 55%;
    }
    .heading{
        font-size: 4.6rem;
        margin-bottom: 2rem;
    }
    .contact .outros {
        flex-direction: column; 
    }
    
    .contact .outros form {
        order: -1; 
        max-width: 100%; 
    }
    
    .contact .outros .contactos {
        order: 0; 
    }
    
}

@media (max-width:768px){

#menu-btn{
    display: inline-block;
    }

.header .flex .navbar{
    position: absolute;
 }

 .header .flex{
    position: relative;
 }

 .header .flex .navbar{
    position: absolute;
    top: 120%; left: 2rem; right: 2rem;
    background-color: var(--light-black);
    backdrop-filter: blur(.4rem);
    border-radius: .5rem;
    transform: scale(0);
    transform-origin: top right;
    padding: 1.5rem .5rem;
}

.header .flex .navbar.active{
    transform: scale(1);
    transition: .2s linear;
}

.header .flex .navbar a{
    display: block;
    padding: 1.5rem 1.5rem;
    margin: .5rem .5rem;
    color: var(--white);
    border-radius: .5rem;
}

.header .flex .navbar a:hover{
   background-color: var(--light-white);
}

.heading{
    font-size: 3.5rem;
}


/*--------------------------------------------------------------------*/
 
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 2.8rem;
    }
}