@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

:root{
    --main-color:#ff0;
    --light-white:rgba(255,255,255,.5);
    --light-black:rgba(0,0,0,.3);
    --light-bg:rgba(255,255,255,.1);
    --white:#fff;
    --black:#000;
}

*{
    font-family: 'Comfortaa', cursive;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html{
    font-size: 62.5%;
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}
*::selection{
    background-color: var(--main-color);
    color: var(--black);
}
*::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}
*::-webkit-scrollbar-track{
    background-color: transparent;
}
*::-webkit-scrollbar-thumb{
    background-color: var(--white);
}

body{
    background-color: var(--black);
}

.container{
    padding-top: 20rem;
}

section{
    margin: 0 auto;
    max-width: 1200px;
    padding: 2rem;
}

.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: linear-gradient(0deg, transparent, var(--black));
    z-index: 1000;
}

.header .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.header .logo img{
    width: 7rem;
}

.header .flex .navbar a{
    margin-left: 2rem;
    font-size: 1.8rem;
    color: var(--light-white);
    transition: .2s linear;
}

.header .flex .navbar a:hover{
    color: var(--white);
}

#menu-btn{
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--white);
    display: none;
}

/*---------------------------------------------------------------------------------------------------------------*/
.home{
    background: url('./img/fundo.jpg') no-repeat rgba(0, 0, 0, .5);
    background-position: center;
    background-size: cover;
}

.home .flex{
    min-height: calc(100vh - 10rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .flex form{
    background-color: var(--light-bg);
    border-radius: .5rem;
    padding: 2rem;
    width: 50rem;
    backdrop-filter: blur(.4rem);
}

.home .flex form h3{
    font-size: 2.5rem;
    color: var(--white);
    padding-bottom: 1rem;
}

.home .flex form .box{
    width: 100%;
    border-radius: .5rem;
    padding: 1.4rem;
    font-size: 1.8rem;
    color: var(--white);
    text-transform: none;
}